<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>{{ page.title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/ico/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/ico/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/ico/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ '/assets/ico/site.webmanifest' | relative_url }}">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="stylesheet" href="/assets/css/styles.css">

    <style>
        #stars {
          z-index: -1;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      </style>

</head>
<body>
    <div id="stars"></div>
    <nav class="navbar">
        <!--
        <div class="logo">
             <img src="/assets/images/logo.png" alt="Logo">
        </div>
        -->
        <ul class="nav-menu">
            <li><a href="https://www.berrueta.xyz">Página principal</a></li>
            <li><a href="/">Liceo</a></li>
            <li><a href="/quimica">Química</a></li>
        </ul>
    </nav>
    {{ content }}

    <script src="https://raw.githubusercontent.com/berruetaa/berruetaa.github.io/main/assets/js/stars.js"></script>
</body>
</html>